# Arquivos de compilação
bin/
target/

# Arquivos de configuração
.classpath
.project
.settings/

# Logs e arquivos temporários
*.log
*.swp
*.bak

# Arquivos de dependências Maven
dependency-reduced-pom.xml
.mvn/
.m2/

# Arquivos de configuração específicos do sistema
.vscode/
.idea/

# Arquivos de build do Gradle
.gradle/
build/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db